$iconSpritePath: '/images/glyphicons-halflings.png';
@import 'sass-bootstrap/lib/bootstrap';

.main-container {
    padding-right: 0;
    padding-left: 0;
}

.iframe iframe {
    width: 100%;
    border: none;
}

