<div class="container-fluid">
    <h1>
        {{{ name }}}
    </h1>
    {{> templates_ads_banner}}
    <p class="alert alert-info">
        More details and information about <strong>{{{ name }}}</strong> coming soon...
    </p>
</div>
