$iconSpritePath: '/images/glyphicons-halflings.png';
@import 'sass-bootstrap/lib/bootstrap';

.app-container {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .engines {
    overflow: auto;
}

.sidebar {
    padding: 5px 0 5px 5px;
}

.sidebar li {
    padding: 5px 0 0 0;
}

.sidebar li a, .available-engines li a {
    @include border-radius($baseBorderRadius + 10);
}

.content .iframe-wrapper {
    overflow: hidden;
    line-height: 0;
}

.content iframe {
    width: 100%;
    border: none;
}

.content .page, .content .available-engines {
    overflow: auto;
}

.addthis {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    padding: 10px 15px 10px;
}

#_atssh {
    top: 0;
}

.controls {
    position: absolute;
    right: 0;
    padding: 5px;
}
