$iconSpritePath: '/images/glyphicons-halflings.png';
@import 'sass-bootstrap/lib/bootstrap';

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', serif;
    font-weight: 400;
}

.app-container {
    padding-right: 0;
    padding-left: 0;
}

.sidebar {
    padding-left: 10px;
}

.search {
    margin-top: 10px;
}

.user-engines {
    overflow: auto;
}

.user-engines, .engines, .sites {
    li {
        padding: 5px 0 0 0;
    }
}

.user-engines, .engines, .sites {
    li a {
        @include border-radius($baseBorderRadius + 10);
    }
}

.iframe-wrapper {
    overflow: hidden;
    line-height: 0;
}

.iframe-wrapper {
    iframe {
        width: 100%;
        border: none;
    }
}

.page, .engines, .sites, .site {
    overflow: auto;
    padding-top: 10px;
    @include box-sizing(border-box);
}

.addthis {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    padding: 10px 15px 10px;
}

#_atssh {
    top: 0;
}

.icon {
    width: 16px;
    height: 16px;
}
