<div class="navbar-inner">
    <div class="container-fluid">
        <a class="brand" href=".">Torrent Engine Searcher</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="active">
                    <a href=".">Home</a>
                </li>
                <li>
                    <a href=".">Get started</a>
                </li>
            </ul>
        </div>
    </div>
</div>
