<div class="navbar-inner">
    <div class="container-fluid">
        <a class="brand" href="javascript:void(0)">
            Torrent Engine Searcher
        </a>
        <div class="nav-collapse collapse">
            <ul class="nav">
            </ul>
        </div>
    </div>
</div>
