<div class="container-fluid">
    {{#unless group}}
        <div class="row-fluid">
            <h1>File Sharing Sites</h1>
            <div class="well text-center">
                <a href="http://tracking.inuvo.com/c/AABXAEUACwAA8UYpr%7E0xxQ%3D%3D?subid1=&subid2=&subid3="><img src="http://tracking.inuvo.com/i/AABXAEUACwAAuEZLr%7E0wLA%3D%3D?subid1=&subid2=&subid3="></a>
            </div>
        </div>
    {{/unless}}
    <div class="groups">
        <!--Groups content-->
    </div>
    <br>
</div>
