{{#unless group}}
    <div class="row-fluid">
        <h1>All BitTorrent Search Engines</h1>
        {{> templates_ads_banner}}
        <p>
            All BitTorrent Search Engines are grouped by type and you can use them to search torrents.
        </p>
        <p class="alert alert-info">
            You can <strong>sort</strong> your torrent engines list.
            Also you can <strong>drag &amp; drop</strong> engines to <strong>add</strong> or <strong>remove</strong> items from <strong>Engines</strong> list to your favorite list (on the left side bar).
        </p>
    </div>
{{/unless}}
<div class="groups droppable">
    <!--Groups content-->
</div>
<br>
