<div class="container-fluid">
    {{#unless active_group}}
        <div class="row-fluid">
            <h1>All BitTorrent Search Engines</h1>
            <div class="well text-center">
                <a href="http://tracking.inuvo.com/c/AABXAEUACwAA8UYpr%7E0xxQ%3D%3D?subid1=&subid2=&subid3="><img src="http://tracking.inuvo.com/i/AABXAEUACwAAuEZLr%7E0wLA%3D%3D?subid1=&subid2=&subid3="></a>
            </div>
            <p>
                You can now <strong>sort</strong> your torrent engines list.
                Also you can <strong>drag &amp; drop</strong> engines to <strong>add</strong> or <strong>remove</strong> engine from available torrent search engines to your favorite list.
            </p>
            <p class="alert alert-info">Engines and sites grouped by type</p>
        </div>
    {{/unless}}
    <div class="groups droppable">
        <!--Groups content-->
    </div>
    <br>
</div>
