{{#if active_group}}
    <h1>{{ name }} sites</h1>
{{else}}
    <h4>{{ name }} sites</h4>
{{/if}}
<div class="row-fluid">
    <ul class="column-1 span3 nav nav-list"></ul>
    <ul class="column-2 span3 nav nav-list"></ul>
    <ul class="column-3 span3 nav nav-list"></ul>
    <ul class="column-4 span3 nav nav-list"></ul>
</div>
